numpy

pandas

matplotlib

scipy

scikit-learn

tensorflow

keras

xgboost

shap

statsmodels

sqlalchemy

psycopg2-binary

mlflow

pyyaml

jupyter

notebook

ipykernel

plotly

seaborn

joblib

tqdm

evidently